$robotoFont:'Roboto';
$quickSandFont: 'Quicksand';
$orange: #ED7839;
$borders: 2px solid #E7E7E7;

body{
    font-family: $robotoFont;
}
.active{
    border-left: 5px;
    border-right: 0px; 
    border-style: solid;
    border-image:linear-gradient(to bottom, #FFB455 0%, #ED7839 100%) 1 100%;
    border-bottom: $borders;
}

.sidebar{
    width: 235px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

nav{
    width: 100%; 
    .logo{
        width: 220px;
        height: 68px;
        text-align: center;
        background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    }
    h1{
        color: white;
        font-size: 30px;
        font-weight: 1000;
        line-height: 68px;
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            border-bottom: $borders;
            width: 220px;
            padding-left: 24px;
            a{
                font-weight: 500;
                line-height: 19px;
                width: 400px;
                font-size: 15px;
                font-family: $quickSandFont;
                color: #725C5C;
            }
        } 
    }
    
}