$robotoFont:'Roboto';
$quickSandFont: 'Quicksand';
$orange: #ED7839;
$borders: 2px solid #E7E7E7;

body{
    width: 100%;
    overflow: hidden;
    font-family: $robotoFont;
}
.container{
    min-width: 100%;
    padding: 0;
    margin: 0;
}
.active{
    border-left: 5px;
    border-right: 0px; 
    border-style: solid;
    border-image:linear-gradient(to bottom, #FFB455 0%, #ED7839 100%) 1 100%;
    border-bottom: $borders;
}
.sidebar{
    max-width: 240px;
}
nav{
    width: 220px;
    margin: 0;
    padding: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    .logo{
        width: 220px;
        height: 68px;
        text-align: center;
        background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
    }
    h1{
        color: white;
        font-size: 30px;
        font-weight: 1000;
        line-height: 68px;
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            border-bottom: $borders;
            width: 220px;
            padding-left: 24px;
            &:last-of-type{
                border-top: $borders;
            }
            a{
                font-weight: 500;
                line-height: 30px;
                font-size: 15px;
                font-family: $quickSandFont;
                color: #725C5C;
            }
        } 
    }
}

header{
    min-width:calc(100% - 240px);
    background-color:#FDF1EB;
    padding-top: 5px;
    padding-bottom: 2px;
    height: 68px;
    h2{
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 5px;
        color: #725C5C;
    }

    p{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #725C5C;
    }
}